<section>
  {{#each proyectoM}}
    <div class="card">
      <img src="{{urlimg}}" alt="Imagen Proyecto" />
      <h4 class="text-center">{{texto}}</h4>
      <p>{{descripcion}}
      </p>
    </div>
  {{/each}}
</section>